@using MailMimic
@using MailMimic.Models
@using MailMimic.Services
@model SmtpData

@{
    Layout = "~/Views/Mailbox/_Layout.cshtml";

    var attachmentsCount = 0;

    foreach (var item in Model.Contents)
    {
        if (item.Headers.TryGetValue("Content-Disposition", out var value))
        {
            if (value.Contains("attachment"))
            {
                attachmentsCount++;
            }
        }
    }
}

<div class="row">

    <h2>@Model.Subject</h2>
    <strong>From: @Model.Headers["From"]</strong>
    <strong>To: @Model.Headers["To"]</strong>
    <strong>Cc: @Model.Headers["Cc"]</strong>
    <strong>Date: @Model.Headers["Date"]</strong>
    <hr />

    @if (attachmentsCount > 0)
    {
        <span>Attachments: @attachmentsCount</span>
    }

    @foreach (var content in Model.Contents)
    {
        if (!content.Headers.ContainsKey("Content-Disposition") || content.Headers["Content-Disposition"].Contains(MailMimicConstants.ContentDispositions.Inline))
        {
            if (content.Headers["Content-Type"].Contains("text/html"))
            {
                @Html.Raw(content.Body)
            }
            else if (content.Headers["Content-Type"].Contains("text/plain"))
            {
                <p>@content.Body</p>
            }
            else
            {
                @* Default assumes text/plain *@
                <p>@content.Body</p>
            }
        }
    }

</div>