@using MailMimic.Models
@model MimicMessage

<div class="row">

    <h2>@Model.Subject</h2>
    <strong>From: @Model.Headers["From"]</strong>
    <strong>To: @Model.Headers["To"]</strong>
    <strong>Cc: @Model.Headers["Cc"]</strong>
    <strong>Date: @Model.Headers["Date"]</strong>
    <hr />

    @if (Model.Headers["Content-Type"].Contains("text/html"))
    {
        @Html.Raw(Model.Body)
    }
    else if (Model.Headers["Content-Type"].Contains("text/plain"))
    {
        <p>@Model.Body</p>
    }
    else
    {
        <pre>@Model.Source</pre>
    }

</div>